asn1crypto==0.24.0
cement==2.6.2
certifi==2018.4.16
chardet==3.0.4
cryptography==2.1.4
Django==1.11.29
-e git+https://github.com/droope/droopescan.git@bebcc39d9ed31513f1dbe49b7e20604b4ebe25ad#egg=droopescan
duplicity==0.7.17
enum34==1.1.6
fasteners==0.12.0
futures==3.2.0
idna==2.7
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
monotonic==1.0
psutil==5.4.2
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
pystache==0.5.4
pytz==2018.3
pyxdg==0.25
requests==2.19.1
SecretStorage==2.3.1
six==1.11.0
sqlparse==0.2.4
urllib3==1.23
